:root {
  --ternary: blue;
  --primary: yellow;  
}
.viz {
  border: var(--ternary) 2px solid;
  overflow: scroll !important;
  width: 100% !important;
  min-height: 100vh;
  height: auto !important;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 2rem;
  margin-top: 1rem;
  user-select: none;
}
svg[name='svg-container-graph-id'] {
  height: 100% !important;
  min-height: 100vh !important;
  width: 100% !important;
}
input {
  width: 150px;
}

.col-8 button {
  margin-top: 0;
}

::-webkit-scrollbar-thumb {
  width: 5px !important;
  background-color: var(--ternary);
  border-radius: 25px;
  background-clip: content-box;
}
::-webkit-scrollbar {
  width: 10px !important;
}
.viz {
  position: relative;
  overflow-wrap: normal !important;
}
.line{
  position: absolute;
  height: 4px; 
  background: var(--primary);
}

.dot {
  line-height: 2.5;
  margin-bottom: 3px;
  background: var(--ternary);
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  white-space: nowrap;
  cursor: pointer;
}
.dot.king{
  background: red;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: absolute;
  white-space: nowrap;
  cursor: pointer;
}